# Vercel environment variables
ADMIN_USERNAME=choose-a-private-username
ADMIN_PASSWORD=use-a-strong-password
ADMIN_SESSION_SECRET=generate-a-random-secret-at-least-32-characters
GITHUB_TOKEN=create-a-fine-grained-token-with-Contents-read-write-for-this-repository
GITHUB_REPOSITORY=yousefkh2001/pixel-perfect-clone
GITHUB_BRANCH=main
